<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/index2.css">
   
</head>
<body>
    {{>navbar2}} <br>

 <h2>THIS IS THE HOMEPAGE .<br>
     THIS PROJECT SHOWS THE FUNCTIONALITY <br>
     OF LOGIN AND REGISTRATION . <br><BR></BR>

     THE INFORMATION WILL BE STORED IN THE DATABASE

 </h2>



    </div>
</body>
</html>
