<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="../../css/index1.css">
</head>
<body>
    {{>navbar1}}
	<div class="box">
		<form  action="/login" method="POST">
			<h2>LOGIN</h2>
			<div class="inputBox">
				<input type="email" name ="email" required="required">
				<span>Email</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" name="password" required="required">
				<span>Password</span>
				<i></i>
			</div>
	
			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>